{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div 
            class="container-fluid"
            style="display:block">
            <a class="navbar-brand" href="/index">
                <img 
                    src="../static/images/tc_logo_transparent.png" 
                    alt="TC Laboratory" 
                    style="width:20%;"> 
            </a>
        </div>
    </nav>

    <div 
        class="option"
        style="background-color: darkgray;">

        <a> 
            <img 
                src="../static/images/LAN.png",
                style="min-width: 300px">

        </a>
        
        <div class="option">
                       
            <a href="../info/quickstart">
                <button class="button button1">
                    Quickstart
                </button>
            </a>
            <a href="../info/background">
                <button class="button button1">
                    Background
                </button>
            </a>
            <a href="../info/dependencies">
                <button class="button button1">
                    Dependencies
                </button>
            </a>
            <a href="https://github.com/njenn001/laboratory">
                <button class="button button1">
                    Github
                </button>
            </a>
        </div>    
    </div>
{% endblock %}

{% block footer %}

    <div 
        class="footer">
        <p> </p>
        <p> TC Laboratories (c) 2023 </p>
        <p> Server landing page </p>
    </div>

{% endblock %}