.body {
    position: absolute;
    background-color: darkgray;

    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    height: 100%;
    margin: 0px;
    padding: 0px;
  
    text-align: center;
    align-items: center;
    display: block;
}

.header { 
    color: white;
    margin: 0px; 
    justify-content: center;
}

.footer {
    color: white;
    font-family: 'Courier New', Courier, monospace;

    text-align: center;
    align-items: center;
    display: block;
}

.container{
    height: 100%;
    width: 100%; 
    margin: 0;
    
    text-align: center;
    align-items: center;
    display: flex;
}