{% extends 'base.html' %}

{% block header %}
    <h1> Laboratory Server </h1>
{% endblock %}

{% block content %}
<div class="topnav">
    <div class="topnav-centered">
        <a href="/quick">Quick Start</a>
    </div>

    <a href="/background">Background</a>
    <a href="/dependencies">Dependencies</a>
    

    <div class="topnav-right">
        <a href="/"></a>
        <a href="/"></a>
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="container">
    <div class="text">
        <p>Noah Jennings</p>
    </div>

</div>

{% endblock %}